* {
    margin: 0;
}

.app {
    background-color: #fafafa;
}

.title{
    color: #4d778b;
}

.appHeader {
    background-color: white;
    padding: 15px;
    border-bottom: 1px solid lightgray;
    object-fit: contain;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1;
}

.appSignUp {
    display: flex;
    flex-direction: column;
}

.appPosts {
    padding: 45px;
}